{% extends 'navigation.html'%}
{% load static %}
{% block body %}

{% ifequal error "no" %}
     <script>
	   alert('Signup Successfull');
	   window.location=('{% url 'login' %}');
     </script>
{% endifequal %}

{% ifequal error "yes" %}
     <script>
	    alert('Something went wrong, Try Again');
     </script>
{% endifequal %}
<br><br><br><br>
<section class="signup" id="signup" style="background-color: azure;">
<h1 class="heading" style="color: black;">User Signup Form</h1>

<div class="row" style="background-color: rgb(253, 253, 253);">
					<form method="post" style="background-color:rgb(248, 207, 255);">
							{% csrf_token %}

									<input type="text" style="color: rgb(0, 0, 0);" placeholder="Enter First Name" class="box" name="firstname" required>
							        <input type="text" style="color: black;" placeholder="Enter Last Name" class="box" name="lastname" required> <br>
									<input type="number" style="color: black;" placeholder="Enter Contact Number" class="box"name="contact" required> <br>
									<input type="email" style="color: black;"placeholder="Enter Email Address" class="box" name="emailid" required> <br>
									<input type="password" style="color: black;" placeholder="Password" class="box" name="password" required> <br>
						              <select name="branch" class="box" style="color: rgb(95, 95, 95);background-color:rgb(233, 192, 254)">
                                      <option value="">--- Select Branch ---</option>
									  <option value="Computer Science">Computer Science</option>
									  <option value="Mechanical">Mechanical</option>
									  <option value="Civil">Civil</option>
									  <option value="Electronics">Electronics</option>
									  <option value="Electric">Electric</option>
									  <option value="IT">IT</option>
									</select>


									<select name="role" class="box" style="color: rgb(95, 95, 95);background-color : rgb(233, 192, 254)">
                                        <option value="">--- Role ---</option>
										<option value="Student">Student</option>
										<option value="Teacher">Teacher</option>
									</select>
								<hr>
								<input type="submit" class="btn btn-primary mt-2" value="SIGN-UP for Memopad">
                            </form>
                       <div class="image">
                          <img src="{% static 'images/Taking notes-amico.png' %}" alt="">
                       </div>
				</div>

</section>

{% endblock %}